[submodule "event-server"]
	path = event-server
	url = https://github.com/bio-digester/event-server.git
[submodule "raspberry-app"]
	path = raspberry-app
	url = https://github.com/bio-digester/raspberry-app.git
